:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --container-bg: #ffffff;
  --header-bg: #e1e1e9;
  --task-item-bg: #e1e1e9;
  --border-color: #000000;
  --input-bg: #ffffff;
  
  --delete-img: url("../Icons/calendar.png");
}

@font-face {
  font-family: 'Madeonmactrackpad-Regular';
  src: url('Madeonmactrackpad-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 3px;
  padding: 1px;
  font-family: 'Madeonmactrackpad-Regular';
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
#back-button {
  background-color: var(--input-bg);
  border: 1px var(--border-color) solid;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: auto;
  justify-self: left;
  font-family: "Madeonmactrackpad-Regular";
  border-radius: 5px;
  color: var(--text-color);
}

h1 {
  font-size: 32px;
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
}
p {
  font-size: 16px;
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
 }
.tag-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  margin-left: 80px
}

.tag-sample {
  width: 100px;
  padding: 5px;
  color: black;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;     
  overflow-x: auto;        
  max-width: 100%;
  margin-left: 0px;
}

.color-picker {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin: 4px 0;
}

.color-swatch {
  width: 30px;
  height: 20px;
  border-radius: 10%;
  border: 1px solid #aaa;
  cursor: pointer;
  box-sizing: border-box;
}
.color-swatch:hover {
  transform: scale(1.05);
}

.color-swatch.selected {
  border: 1px solid var(--text-color);
}

.save-btn {
  padding: 4px 8px;
  margin-left: 6px;
}

.delete-tag{
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--delete-img) !important;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  margin-right: 0px;
  color:#e1e1e9;
}

.delete-tag:hover{
  transform: scale(1.2);
}